* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 5px;
}

header {
  position: fixed;
  font-family: Arial;
  color: white;
  width: 98%;
  margin: 10px;
  border: 1px solid white;
  background-color: black;
  text-align: center;
  overflow: hidden;
}

header h1 {
  /*border: 1px solid black;
  background-color: black;*/
  padding: 2px;
  font-size: 5.5em;
  font-weight: bold;
  letter-spacing: 11px;
  text-align: center;
  display: inline-block;
  display: flex;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  padding-right: 20;
  padding-left: 20;
  /*min-width: 100%;
  min-height: 100%; */
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

.content {
  color: white;
  padding-top: 30%;
  display: flex;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 16px;
  clear: both;
}

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
}
ul.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size:  xx-large;
  margin-bottom: 20px;
  justify-content: center;
}

